2to3
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
asyncio
attrs
backoff
banner
banners
bcrypt
beautifulsoup4
bidict
bleach
bleak
bless
blinker
bottle
branca
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
comtypes
contourpy
cryptography
csc
cycler
decorator
defusedxml
Deprecated
distlib
distro
Django
dlib
docopt
dpath
et-xmlfile
fabric
face-recognition
face_recognition_models
fake
fake-useragent
filelock
flask
flask-Bcrypt
flask-SocketIO
folium
fonttools
frozenlist
fsspec
geographiclib
geoip2
geopy
gitdb
GitPython
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
gpsoauth
greenlet
grpcio
grpcio-status
h11
h3
httpcore
httpx
huggingface-hub
idna
importlib_metadata
imutils
installer
instaloader
invoke
itsdangerous
jdcal
Jinja2
joblib
jsonify
jsonschema
jsonschema-specifications
keyboard
kiwisolver
litellm
markdown-it-py
MarkupSafe
matplotlib
maxminddb
mdit-py-plugins
mdurl
multidict
nltk
numpy
openai
opencage
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
paramiko
pefile
pep517
phonenumbers
pillow
pip
platformdirs
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
PyAudio
pyblue
pycparser
pycryptodomex
pydantic
pydantic_core
pydeck
pydub
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMuPDF
PyMuPDFb
PyNaCl
pyparsing
PyPDF2
pypiwin32
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-dotenv
python-engineio
python-lightblue
python-magic
python-nmap
python-socketio
pyttsx3
pytz
pywin32
pywin32-ctypes
PyYAML
pyzipper
records
referencing
regex
requests
requests-toolbelt
rich
roboflow
rpds-py
rsa
safetensors
scipy
setuptools
shapely
simple-websocket
six
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
sqliter
streamlit
supervision
tablib
tenacity
tiktoken
timezonefinder
tokenizers
toml
toolz
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
uuid
virtualenv
waitress
watchdog
webencodings
Werkzeug
wheel
windows
winrt-runtime
winrt-Windows.Devices.Bluetooth
winrt-Windows.Devices.Bluetooth.Advertisement
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile
winrt-Windows.Devices.Enumeration
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Storage.Streams
wrapt
wsproto
xyzservices
yarl
zipp
flask 
flask_bcrypt